:root {
  --sunset-orange: #FF6B00;
}

.sunset-orange {
  color: var(--sunset-orange)
}

.bg-sunset-orange {
  background-color: var(--sunset-orange)
}

.white {
  color: white;
}

.bg-white {
  background-color: white;
}

.bg-light-grey {
  background-color: #EFEFEF;
}

.bg-transparent {
  background-color: rgba(0, 0, 0, 0.0); 
}

/* 
################

!TEXT 

################
*/

p {
  line-height: normal;
}

.small-font {
  font-size: .75rem;
}

.large-font {
  font-size: 2.25rem;
}

.regular {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.small-icon {
  height: 1.2rem;
  width: 1.2rem;
}

/* 
################

!POSITION 

################
*/

.block {
  display: block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-end {
  justify-content: end;
}

.flex-direction-col {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.pinned-top {
  box-sizing: border-box;
  position: fixed;
  top: 0;
}

.width-100 {
  width: 100%;
}

.float-right {
  float: right;
}

.align-content-center {
  align-items: center;
}

/* 
################

!PADDING 

################
*/

.padding-1000 {
  padding-top: 1rem;
}

.padding-0010 {
  padding-bottom: 1rem;
}

.padding-0101 {
  padding: 0 1rem;
}

.padding-00-500 {
  padding-right: .5rem;
}

.padding-1-25000 {
  padding-top: 1.25rem;
}

.padding-0010 {
  padding-bottom: 1rem;
}

.padding-0001 {
  padding-left: 1rem;
}

.padding-1111 {
  padding: 1rem;
}

.padding-1010 {
  padding: 1rem 0;
}

.padding-1212 {
  padding: 1rem 2rem;
}

.padding-2020 {
  padding: 2rem 0;
}


/* .mobile-padding-top-05 {
  padding-top: .5rem;
} */

/* 
################

!MARGIN 

################
*/

.margin-1111 {
  margin: 1rem;
}

.margin-1010 {
  margin: 1rem 0;
}

.margin-1101 {
  margin: 1rem 1rem 0 1rem;
}

.margin-0100 {
  margin-right: 1rem;
}

.margin-0101 {
  margin: 0 1rem;
}

.margin-0111 {
  margin: 0 1rem 1rem 1rem;
}

.margin-2111 {
  margin: 2rem 1rem 1rem 1rem;
}

.margin-4000 {
  margin-top: 4rem;
}

.margin-10000 {
  margin-top: 10rem;
}

.margin-10010 {
  margin: 10rem 0 1rem 0;
}


/* 
################

!OTHER

################
*/
/* .desktop {
  display: none;
} */

.border-none {
  border: none;
}

.border-bottom {
  border-bottom: solid 1px black;
}

.border-radius-1 {
  border-radius: 1rem;
}

.cursor {
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

/* @media screen and (min-width: 769px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .mobile-padding-top-05 {
    padding: 0;
  }

} */

@media screen and (max-width: 565px) {
  .margin-10000 {
    margin-top: 12rem;
  }

}

/* Tablet and laptop displays */
@media screen and (min-width: 769px) and (max-width: 1600px) {
  .m-display-padding-1111 {
    padding: 1rem;
  }

  .m-display-padding-0101 {
    margin: 0 1rem 0 1rem;
  }

  .m-display-margin-1111 {
    margin: 1rem;
  }

  .m-display-margin-1000 {
    margin-top: 1rem;
  }

  .m-display-margin-0101 {
    margin: 0 1rem 0 1rem;
  }

  .m-display-margin-0001 {
    margin-left: 1rem;
  }

  .m-display-margin-0100 {
    margin-right: 1rem;
  }

}

/* Desktop displays*/
@media screen and (min-width: 1600px) {

  .l-display-padding-1000 {
    padding-top: 1rem;
  }

  .l-display-padding-0101 {
    margin: 0 1rem 0 1rem;
  }

  .l-display-margin-1111 {
    margin: 1rem;
  }

  .l-display-margin-0101 {
    margin: 0 1rem 0 1rem;
  }

  .l-display-margin-1010{
    margin: 1rem 0;
  }

  .l-display-margin-1000 {
    margin-top: 1rem;
  }
  
  .l-display-margin-0001 {
    margin-left: 1rem;
  }

  .l-display-margin-0100 {
    margin-right: 1rem;
  }

  .l-display-container {
    padding-right: 16.6%;
    padding-left: 16.6%;
  }

}
